[Unit]
Description=Timeoff management
After=syslog.target network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment="PORT=__PORT__"

WorkingDirectory=__FINALPATH__
Environment="__YNH_NODE_LOAD_PATH__"
Environment=NODE_ENV=production
ExecStart=__FINALPATH__ start
ExecStart=start
Restart=always

[Install]
WantedBy=multi-user.target
